@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Special+Elite');

@import "partials/vars";
@import "partials/header";
@import "partials/main";
@import "partials/notes";
@import "partials/footer";