#page {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

#main-content {

    .add-tasks {
        background-color: rgba(68, 28, 15, .5);

        label {
            font-family: 'Special Elite', monospace;
        }
    }
}