#page {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

#main-content {

    .add-tasks {
        background-color: rgba(68, 28, 15, .5);

        label {
            font-family: $font-monospace;
            color: $tasks-text-color;
        }

        .add-task-input {
            border-color: $tasks-text-color;
            background: rgba(255, 255, 255, .4);
            color: $tasks-text-color;
            font-family: $font-monospace;

            &::placeholder {
                color: $tasks-accent-color;
            }
        }
    }
}