#page {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    overflow: scroll;
}

#main-content {}