.note {
    padding: 8px;

    .inner-wrapper {
        min-height: 150px;
        font-family: "Indie Flower", cursive;
        color: darkslategray;
        background-color: #F4E75B;
        background-size: cover;
        transform: rotate(3deg);
        box-shadow: 6px 6px 10px #ccc;
    }
}